*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    font-family:hahmlet, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #51aeda, #2598ce);
  }

  header{
    font-size:2rem;
    color:#ffffff;
    line-height: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  input{
    margin:7em;
    height:2em;
    width:25em;
  }
  .profile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }

  .profName{
   
    font-size: 1.5em;
    color: #ffffff;
  }
  .sessContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height:9vh;
    
  }
  .newSess{
    font-size:1.2em;
    color:white;

  }
  .sessIcon{
    margin:1em;
    font-size: larger;
    border: 2px solid #ffffff;
    background: transparent;
    color:white;
    padding:.08em;
    width:3em;
    text-align: center;
    cursor: pointer;
  }
  .sessIcon:hover{
    background-color: white;
    color: #2598ce;
  }
  .secretTxt{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sessDiv{
    flex-direction: row;
    height:9vh;
  }
  .sessDiv2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hiddName{
    height:2.2em;
    width:10em;
    text-align:center;
    outline: none;
    border: 2px solid #ffffff;
    overflow: hidden;
    background: transparent;
    transform: translateX(-1em);
  }
  .submitBtn{
    min-height:3em;
    min-width:6em;
    border: 2px solid #ffffff;
       background: transparent;
       color: #ffffff;
     font-size:x-small;
       cursor: pointer;
       overflow:hidden;
       padding:.2em;
       transform: translateX(-10.5em);
  }
  .profileCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height:1vh;
    text-align:start;
    
  }
  .ssnTxt{
     margin: 1em;
  }
.addBtn{
  min-height:3em;
    min-width:7em;
    border: 2px solid #ffffff;
       background: transparent;
       color: #ffffff;
     font-size:small;
       cursor: pointer;
       overflow:hidden;
    
}
.addBtn:hover{
  background-color: white;
  color: #2598ce;
}
  .submitBtn:hover{
    background-color: white;
    color: #2598ce;
  }
  
  .homeBtn{
   min-height:1em;
   min-width:3em;
   border: 2px solid #ffffff;
      background: transparent;
      color: #ffffff;
    font-size: small;
      cursor: pointer;
      font-size: 15px;
      padding:.8em;
      overflow:hidden;
      
  }
  .homeBtn:hover{
    background-color: white;
    color: #2598ce;
  }
  .home1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .home2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .crtTxt{
    font-size: 1.2em;
    color: #ffffff;
  }
  
  .translate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23em;
    height: 2.5em;
    resize:none;
    margin:7em;
    outline:gray;
    border: gray;
    border-radius: 5em;
    font-size: large;
    text-align: center;
    overflow:hidden;
  }
   
  .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5em);
  }
  .btn1:hover{
    background-color: white;
  color: #2598ce;
  }
  .btn1:active{
    background: transparent;
      color: #ffffff;
  }
  .btn2:hover{
    background-color: white;
  color: #2598ce;
  }
  .btn2:active{
    background: transparent;
      color: #ffffff;
  }
  .btn3:hover{
    background-color: white;
  color: #2598ce;
  }
  .btn3:active{
    background: transparent;
      color: #ffffff;
  }
    
  .btn1,.btn2{
    border: 2px solid #ffffff;
      background: transparent;
      color: #ffffff;
      width: 7em;
    font-size: small;
      min-height: 3em;
      margin:10px 120px 10px 120px;
      cursor: pointer;
      font-size: 16px;
  }

.newBtn{
  display: flex;
  justify-content:baseline;
  align-items:baseline;
  flex-direction: column;
  transform: translateY(0.5em);
}
.btn3{
  border: 2px solid #ffffff;
      background: transparent;
      color: #ffffff;
      width: 10em;
    font-size: small;
      min-height: 3em;
    margin:10px 120px 10px 120px;
      cursor: pointer;
      font-size: 16px;
}
.cardbtn{
  transform:translateY(30vh)
}
.txt_Container{
  display: flex;
  justify-content: space-between;
  column-gap: 10em;
}


.original_Text{
  word-wrap:normal;
overflow:hidden;
  width:500px;
  
}

.translated_Text{
  word-wrap:normal;
overflow:hidden;
 width:500px;
  
}

.db_Container{
  display: flex;
  justify-content: space-between;
  column-gap: 20em;
}
.column_one{
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid white;
  min-width:20rem;
  min-height:35rem;
  max-height: 35rem;
  transform:translateY(10vh);
  overflow: scroll;
  overflow-y:auto;
  padding-left: 1em;
  overflow-x: hidden;
  
}
.column_two{
  display:flex;
  justify-content: center;
  align-items: center;
  border:solid white;
  min-width:20rem;
  min-height:35rem;
  transform:translateY(10vh);
  overflow: scroll;
  overflow-y:auto;
  padding-left: 1em;
  overflow-x: hidden;
  
}
.p_Text,.p_Text2{
  line-height:1.5em;
  text-align: left;
}
.dbBtn{
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  width: 8em;
font-size: small;
  min-height: 3em;
  margin:10px 120px 10px 120px;
  cursor: pointer;
  font-size: 16px;
  transform: translateY(1rem);
}
.dbBtn:hover{
  background-color: white;
color: #2598ce;
}
.dbBtn:active{
  background: transparent;
    color: #ffffff;
}

.translator{
  display: flex;
  justify-content: center;
  align-items:center;
  transform: translateY(-35rem);
}

.getTxt{
  display: flex;
  justify-content: center;
  align-items: center;
  width:5rem;
  height:1.5rem;
  transform: translate(-40em,41rem);
}

.cards{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.cards_container1{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align:center;
  width:40rem;
  height:35rem;
  transform: translateY(10vh);
}
.cards_container2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:40rem;
  height:35rem;
  transform:translateY(10vh);
}

.cli{
  border: 2px solid #ffffff;
      background: transparent;
      color: #ffffff;
    font-size: small;
      min-height: 3.5em;
      min-width: 7.5em;
      margin:10px 120px 10px 120px;
      cursor: pointer;
      font-size: 16px;
      padding:.8em;
      overflow:hidden;
      
      
      
}
.cli:hover{
  background-color: white;
  color: #2598ce;
}
.cli:focus{
  background-color: white;
color: #2598ce;

}
.cli:active{
   background-color: white;
color: #2598ce;
}

.reset{
  width:1rem;
  height:3rem;
  border: 2px solid #ffffff;
      background: transparent;
      color: #ffffff;
      width: 6em;
    font-size: small;
      min-height: 3em;
      min-width: 5em;
      margin:10px 120px 10px 120px;
      cursor: pointer;
      font-size: 16px;
      transform:translateY(60vh)
}
.reset:hover{
  background-color: white;
color: #2598ce;
}
.reset:active{
  background: transparent;
    color: #ffffff;
}